*, *::after, *::before
{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

:root
{
    --cell-size: 150px;
    --mark-size: calc(var(--cell-size)* .4);
}

body
{
    margin: 0;
    background-color: rgb(95, 95, 95);
    
}

h1 
{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: black;
    margin-top: 150px;
}

.board 
{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell
{
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
}

.cell.x,
.cell.circle 
{
    cursor: not-allowed;
}

.cell.x::after,
.cell.x::before,
.cell.circle::before
{
    background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before
{
    background-color: rgb(206, 206, 206);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after
{
    content: '';
    position: absolute;
    width: calc(var(--mark-size)* .15);
    height: calc(var(--mark-size));
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before
{
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after
{
    transform: rotate(-45deg);
}

.cell.circle::after,
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before
{
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before
{
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after
{
    width: calc(var(--mark-size)* .7);
    height: calc(var(--mark-size)* .7);
    background-color: rgb(95, 95, 95);
}

.winning-message 
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(90, 90, 90, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    flex-direction: column;
    display: none;
}

.winning-message button 
{
    font-size: 5vh;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    padding: .25em .5em;
    border-radius: 20px;

}

.winning-message button:hover
{
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show
{
    display: flex;
}




